<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.com.shxt.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="cn.com.shxt.core.Perspective"
            id="cinemamanagerment.system.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.com.shxt.view.CinemaManagermentMenuView"
            id="cn.com.shxt.view.CinemaManagermentMenuView"
            name="电影院管理菜单">
      </view>
      
      <view
            class="cn.com.shxt.view.CinemaSystemMenuView"
            id="cn.com.shxt.view.CinemaSystemMenuView"
            name="电影院 售票系统">
      </view>
      <view
            class="cn.com.shxt.view.ss"
            id="cn.com.shxt.view.ss"
            name="New ViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.com.shxt.editor.AddManagerInfoEditor"
            id="cn.com.shxt.editor.AddManagerInfoEditor"
            name="管理员信息添加">
      </editor>
      <editor
            class="cn.com.shxt.editor.AddFilmInfoEditor"
            id="cn.com.shxt.editor.AddFilmInfoEditor"
            name="添加电影信息">
      </editor>
      <editor
            class="cn.com.shxt.editor.QueryFilmInfoEditor"
            id="cn.com.shxt.editor.QueryFilmInfoEditor"
            name="影片查询及修改">
      </editor>
      <editor
            class="cn.com.shxt.editor.AddShowRoomEditor"
            id="cn.com.shxt.editor.AddShowRoomEditor"
            name="影厅添加">
      </editor>
      <editor
            class="cn.com.shxt.editor.ModifyShowRoomEditor"
            id="cn.com.shxt.editor.ModifyShowRoomEditor"
            name="影厅信息修改">
      </editor>
      <editor
            class="cn.com.shxt.editor.QueryUserManagerInfoEditor"
            id="cn.com.shxt.editor.QueryUserManagerInfoEditor"
            name="人员信息详情">
      </editor>
      <editor
            class="cn.com.shxt.editor.AddUserInfoEditor"
            id="cn.com.shxt.editor.AddUserInfoEditor"
            name="用户信息添加">
      </editor>
      <editor
            class="cn.com.shxt.view.AddOnShowInfoEditor"
            id="cn.com.shxt.view.AddOnShowInfoEditor"
            name="影片上映计划">
      </editor>
      <editor
            class="cn.com.shxt.editor.AddOnShowInfoEditor"
            id="cn.com.shxt.editor.AddOnShowInfoEditor"
            name="添加放映计划">
      </editor>
      <editor
            class="cn.com.shxt.editor.QueryShowRoomEditor"
            id="cn.com.shxt.editor.QueryShowRoomEditor"
            name="查询放映厅">
      </editor>
      <editor
            class="cn.com.shxt.editor.QueryOnShowInfoEditor"
            id="cn.com.shxt.editor.QueryOnShowInfoEditor"
            name="查询放映计划">
      </editor>
      <editor
            class="cn.com.shxt.editor.BuyTicketsEditor"
            id="cn.com.shxt.editor.BuyTicketsEditor"
            name="购票界面">
      </editor>
      <editor
            class="cn.com.shxt.editor.SeatExample"
            id="cn.com.shxt.editor.SeatExample"
            name="购票界面">
      </editor>
      <editor
            class="cn.com.shxt.editor.SaleSituationEditor"
            id="cn.com.shxt.editor.SaleSituationEditor"
            name="销售情况">
      </editor>
      <editor
            class="cn.com.shxt.editor.ShowRoomRateEditor"
            id="cn.com.shxt.editor.ShowRoomRateEditor"
            name="影厅上座率">
      </editor>
      <editor
            class="cn.com.shxt.editor.WelcomPageEditor"
            id="cn.com.shxt.editor.WelcomPageEditor"
            name="欢迎界面">
      </editor>
      <editor
            class="cn.com.shxt.editor.FilmRateEditor"
            id="cn.com.shxt.editor.FilmRateEditor"
            name="影片上座率">
      </editor>
      <editor
            class="cn.com.shxt.editor.MoviePercentEditor"
            id="cn.com.shxt.editor.MoviePercentEditor"
            name="电影上座率">
      </editor>
      <editor
            class="cn.com.shxt.editor.SeatPercentEditor"
            id="cn.com.shxt.editor.SeatPercentEditor"
            name="上座率">
      </editor>
      <editor
            class="cn.com.shxt.editor.SalePercentEditor"
            id="cn.com.shxt.editor.SalePercentEditor"
            name="全年销售量">
      </editor>
      <editor
            class="cn.com.shxt.editor.UserInfoShowEditor"
            id="cn.com.shxt.editor.UserInfoShowEditor"
            name="用户信息显示">
      </editor>
   </extension>

</plugin>
